.cards {
  width: 100%;
  .card {
    width: 100%;
    max-width:480px;
    height: 100vh;
    margin:0 auto;
    display: block;
    padding:0 20px;
    position: relative;
    perspective: 480px;
    cursor: pointer;
    
    p {
      margin: 0 0 20px 0;
      text-align: left;
      color: #fff;
      font-family: $secondary-font;
      font-size:1.1em;
      line-height:1.5;

      &.top {
        font-size:1.4em;
        margin-top:10px;
      }

      &.middle {
        font-weight: 900;
        font-family:$primary-font;
        font-size:2em;
        line-height:1.2;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom:30px;
      }
    }

    &:hover {
      .back-face {
        z-index:4;  
      }
    }

    &.active {
      .front-face {
        // background-color:$red !important;
        transform: rotateY(-180deg);   
      }
      .back-face {
        z-index:3;  
      }
    }

    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border:1px solid inherit;
      backface-visibility: visible; 
      transition: all 3s ease-out;
      transform-origin: 0 0;
      transform-box: fill-box;
      &.front-face {
        background: darken($white, 10%);
        z-index: 3;
        cursor: pointer;
        font-size: 2em;
        opacity: 1;
        background-position: center;
        background-size:cover;

        &.bg-1 {
          background-image:url('imgs/christmas-background-1.jpg');
        }
        &.bg-2 {
          background-image:url('imgs/christmas-background-2.jpg');
        }
        &.bg-3 {
          background-image:url('imgs/christmas-background-3.jpg');
        }
        &.bg-4 {
          background-image:url('imgs/christmas-background-4.jpg');
        }
        &.bg-5 {
          background-image:url('imgs/christmas-background-5.jpg');
        }
        &.bg-6 {
          background-image:url('imgs/christmas-background-6.jpg');
        }
      }

      &.back-face {
        background-color:$green;
        z-index: 2;

        background: $red;
        padding: 15px;
        text-align:center;
        box-sizing: border-box;
        transform: rotateY(0deg);
        font-size: 1.2em;

        overflow-y:scroll;

        .next {
          padding:5px 20px !important;
          font-size:2em;
          float:left;
        }
      }
    }
    
  }
}