.container {  
  width:100%;
  display: block;
}

.content {
  margin:0 auto;
  max-width:$max-width;
  display: block;
  overflow: hidden;
  &.visible {
    overflow: visible;
  }
}

.col-half {
  float:left;
  width:48%;
  margin:0 1%;
  @media screen and (max-width:480px) {
    width:98%;
    margin:0 1%;
  }
}