%card-defaults {

    width:100%;
    max-width:480px;

    height:100%;
    max-height:600px;
    min-height:500px;

}

.card { 

  &__controller {

    position: absolute;

    z-index:9999;
    @include centralize;
    @extend %card-defaults;

    .next {
      position: absolute;
      @include right;
      @include centralize-y;
    }
    
  }

  &__page {

    
    position: absolute;
    overflow:hidden;

    left:50%;
    top:50%;

    @extend %card-defaults;
    @include centralize;

    &--front {
      background-color:$red;
      z-index:3;
      .title {
        text-align:center;
        font-size:3em;
        color:white;
      }

      .icon {
        display: block;
        position: absolute;
        bottom:40px;
        font-size:20em;
        color:white;

        @include centralize-x;
      }
    }
  }
}