@mixin centralize {
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

@mixin centralize-x {
  left:50%;
  transform:translateX(-50%);
}

@mixin centralize-y {
  top:50%;
  transform:translateY(-50%);
}

@mixin left {
  left:0;
}

@mixin right {
  right:0;
}

