$primary-color: #323232;
$secondary-color: #f5f5f5;

$green: #00734A;
$red: #BF352F;
$white: #ffffff;
$black: #000000;
$dark-red: darken($red, 15%);

$primary-font: 'Mountains of Christmas', cursive;
$secondary-font: 'Indie Flower', cursive;

$max-width: 960px;

$colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'green': $green,
  'red': $red,
  'white': $white,
  'black': $black,
  'dark-red': $dark-red
);

@each $name, $value in $colors {
  
  .text-#{$name} {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }

  .btn-#{$name} {
    @if $name == 'white' {
      background-color:$value;
      border:1px solid darken($value, 10%);
      color:$black;
    } @elseif $name == 'secondary-color' {
      background-color:$value;
      border:1px solid darken($value, 10%);
      color:$black;
    } @else {
      background-color:$value;
      border:1px solid darken($value, 10%);
      color:white;
    }

    &:focus,
    &:hover,
    &:active {
      border:1px solid darken($value, 20%);
      outline:none;
    }
  }
}