@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import 'vendor/owl-carousel';
@import 'settings';
@import 'mixins';

@import 'normalize';
// @import 'reset';


@import 'global';

@import 'components/buttons';
@import 'components/card';
@import 'components/carousel';

// @import 'layouts/sections';
@import 'layouts/grid';

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: $secondary-font;
}

html {
  font-size:16px;
}

body {
  width:100%;
  height:100%;
  overflow: hidden;
}

.controller {
  position: fixed;  
  right:-100%;
  width: 100%;
  height:100%;
  transition:all .3s ease-in-out;
  top:0;

  .next {
    position: absolute;
    right:0;
    top:50%;
    @include centralize-y;
  }  

  &.show {
    right:0;
  }
}

.typed-cursor {
  display: none !important;
}

.quiz { 
  z-index: 999;
  .item {
    height:100vh;
    overflow-y:scroll; 
    padding: 40px 10px 60px 10px;
    
    &.score {
      padding:30px;

      .title {
        font-size:5em;
        margin:0 0 30px 0;
        @media screen and (max-width:480px) {
          font-size:2em;
        }
      }

      .total-score {
        font-size: 3em;
        font-weight: 900;
        margin-top: 40px;
        display: block;
        text-align: center;
         @media screen and (max-width:480px) {
          margin-top: 20px;
          font-size: 4em;
          line-height: 1.3;
        }
      }

      .para {
        line-height:1.5;
        font-size:16px;
        &.check-answers {
          text-align: center;
          font-size: 1.5em;
          line-height:1;
          font-weight:900;
          margin: 50px 0 0 0;
          color:#555 !important;
          @media screen and (max-width:480px){
            background-color:#333;
            color:$white !important;
            margin: 35px 0 0 0;
            font-size:1.5em;
            line-height:1.5;
            padding:4px;
          }
        }
      }

      .answers {
        transition:all 1s ease-in-out;
        overflow: hidden;
        margin-left:-200%;
        text-align: center;
        &.fade-in {
          margin-left:0;
        }
      }

      ul {
        margin: 0 auto;
        margin-top: 20px;
        list-style: none;

        li {
          font-size:1.25em;
          line-height:1.2;
          margin-bottom: 20px;
          border-bottom: 1px solid lightgrey;
          padding-bottom: 20px;
          letter-spacing: 0.5px;
          &.text-red {
            line-height: 1.5;
            i {
              font-weight:900;
            }
          }
          &.incorrect {
            color:$red;

          }
          &.correct {
            color:$green;
          }

          span {
            font-weight:900;
          }

          small {
            display: block;
            line-height: 1;
            font-size:0.8em;
          }

          @media screen and (max-width: 480px) {
            font-size:1em;
            line-height:1;
            margin-bottom: 10px;
            border-bottom: 1px solid darken($white, 10%);
            padding-bottom: 10px;
          }
        }
      }
    }

    img {
      margin:0 auto;
      max-width:100%;
      width:auto;
      max-height:300px;
      border:4px solid $red;
    }

    .title {
      font-size:3em;
      text-align:center;
      margin:40px 0;
      @media screen and (max-width:480px) {
        font-size:2.5em;
        line-height: 1.5;
        letter-spacing: 2px;
      }
    }

    .para {
      font-size:1.5rem;
      text-align: center;
      font-family: $secondary-font;
      &-text {
        color:darken(gold, 5%);
      }
    }

    .next {
      background:$red;
      color:white;
      opacity: 1;

      width:100%;
      
      transition:all .3s ease-in-out;

      &:disabled {
        opacity: 0;
      }
    }

    .options {
      display:block;
      margin:10px 0 0 0;
      width:100%;
      overflow: hidden;
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      .option {
        flex-basis: 49.5%;
        margin-bottom: 1%;
        opacity: 0;

        transition:all .3s ease-in-out;

        &.fade-in {
          opacity: 1;
        }
        @media screen and (max-width:480px) {
          flex-basis: 100%;
          margin-bottom: 2%;
        }
      }
      label {
        border:1px solid $red;
        display: block;
        padding:25px;
        transition:all .3s ease-in-out;
        font-size:2rem;
        font-family:$secondary-font;
        @media screen and (max-width:480px) {
          padding:20px;
          font-size:1.25rem;
        }
      }

      input:checked ~ label {
        background-color:$red;
        color:white;
      }

      input {
        display: none;
      }
    }
  }
}